@use './src/utilities';

.mat-toolbar-row, .mat-toolbar-single-row {
  height: utilities.rem(5);
}

.horizontal-spacer {
  flex: 1 1 auto;
}

.accessibility-button {
  //Todo: Change Colors to Theme Colors
  background: #ffd740;
  color: black;
  margin-left: utilities.rem(2);
}
