@use './src/utilities';

.mat-toolbar-row, .mat-toolbar-single-row {
  height: utilities.rem(5);
}

.accessibility-button {
  //Todo: Change Colors to Theme Colors
  background: #ffd740;
}

.desktop-menu {
  display: none;
}

.burger-menu {
  display: inline-block;
}

@media (min-width: 600px) {
  .burger-menu {
    display: none;
  }
  .desktop-menu {
    display: inline-block;
  }
}

