@use "./src/utilities";

.horizontal-spacer {
  flex: 1 1 auto;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.main-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  min-height: utilities.rem(5);
  justify-content: flex-end;
}

.copyright {
  height: utilities.rem(2);
  margin: 0 auto;
  text-align: center;
}

:hover .copyright {
  cursor: default;
}

mat-icon {
  margin-right: utilities.rem(1)
}
