@use "./src/utilities";

.horizontal-spacer {
  flex: 1 1 auto;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.copyright {
  height: utilities.rem(2);
  margin: 0 auto;
  text-align: center;
}

:hover .copyright {
  cursor: default;
}

mat-icon {
  margin-right: utilities.rem(1)
}
