<div class="gird wrapper wrapper-top-bottom">
  <div class="grid">
    <div class="cell xs12-up center">
      <h1 class="mat-display-2">QUELLEN</h1>
    </div>
    <div class="cell xs12-up center">
      <app-illustration-literatur></app-illustration-literatur>
    </div>
  </div>

  <div class="grid grid-gap sm12-down md6-up">
    <div class="cell">
      <strong>Haftungsausschluss</strong>


      <p>Der Autor übernimmt keinerlei Gewähr hinsichtlich der inhaltlichen Richtigkeit, Genauigkeit, Aktualität,
        Zuverlässigkeit und Vollständigkeit der Informationen.
        Haftungsansprüche gegen den Autor wegen Schäden materieller oder immaterieller Art, welche aus dem Zugriff oder
        der
        Nutzung bzw. Nichtnutzung der veröffentlichten Informationen, durch Missbrauch der Verbindung oder durch
        technische
        Störungen entstanden sind, werden ausgeschlossen.<br><br>
        Alle Angebote sind unverbindlich. Der Autor behält es sich ausdrücklich vor, Teile der Seiten oder das gesamte
        Angebot
        ohne besondere Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder
        endgültig
        einzustell
    </div>
    <div class="cell">
      <strong>Haftungsausschluss</strong>


      <p>Der Autor übernimmt keinerlei Gewähr hinsichtlich der inhaltlichen Richtigkeit, Genauigkeit, Aktualität,
        Zuverlässigkeit und Vollständigkeit der Informationen.
        Haftungsansprüche gegen den Autor wegen Schäden materieller oder immaterieller Art, welche aus dem Zugriff oder
        der
        Nutzung bzw. Nichtnutzung der veröffentlichten Informationen, durch Missbrauch der Verbindung oder durch
        technische
        Störungen entstanden sind, werden ausgeschlossen.<br><br>
        Alle Angebote sind unverbindlich. Der Autor behält es sich ausdrücklich vor, Teile der Seiten oder das gesamte
        Angebot
        ohne besondere Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder
        endgültig
        einzustell
    </div>
  </div>
</div>
