<div class="wrapper wrapper-top-bottom">
  <div class="grid">
    <div class="cell xs12-up center">
      <h1 class="mat-display-2">QUELLEN</h1>
    </div>
    <div class="cell xs12-up center">
      <app-illustration-literatur></app-illustration-literatur>
    </div>
  </div>

  <div class="grid grid-gap sm12-down md4-up">
    <div class="cell">
      <strong>Allgemein</strong>
      <p>Illustration: <a href="https://storyset.com/">Storyset</a></p>
      <br>

      <strong>Barrierefreiheit</strong>
      <p>Hellbusch, J. E. & Probiesch, K. (Hrsg.). (2011). Barrierefreiheit verstehen und umsetzen. Webstandards für ein
        zugängliches und nutzbares Internet (1. Aufl.). Heidelberg: dpunkt Verlag. </p>
      <p>Thesmann, S. (2016). Interface Design. Usability, User Experience und Accessibility im Web gestalten (Springer
        eBook Collection, 2. Aufl. 2016). Wiesbaden: Springer Fachmedien Wiesbaden.
        <a href=" https://doi.org/10.1007/978-3-658-03857-1" target="_blank">
          https://doi.org/10.1007/978-3-658-03857-1</a>
      </p>
      <p>Schäfers, M. & Welti, F. (2021). Barrierefreiheit – Zugänglichkeit – Universelles Design. Zur Gestaltung
        teilhabeförderlicher Umwelten. Verlag Julius Klinkhardt.
        <a href="https://doi.org/10.35468/5856" target="_blank">https://doi.org/10.35468/5856</a>
      </p>
      <br>

      <strong>Cookie-Banner</strong>
      <p>Gradow, L., & Greiner, R. (2021). Quick Guide Consent-Management Einwilligungen marketingoptimiert und
        DSGVO-konform einholen, verwalten und dokumentieren.
        <a href="https://link.springer.com/book/10.1007/978-3-658-33021-7" target="_blank">
          https://link.springer.com/book/10.1007/978-3-658-33021-7
        </a>
      </p>
      <p>EDÖB, Eidg. D. Ö. (o. D.-a). Datenschutz. Retrieved May 25, 2022, from
        <a href=" https://www.edoeb.admin.ch/edoeb/de/home/datenschutz/ueberblick/datenschutz.html" target="_blank">
          https://www.edoeb.admin.ch/edoeb/de/home/datenschutz/ueberblick/datenschutz.html
        </a></p>
      <br>

      <strong>Dark Patterns</strong>
      <p>Harry Brignull. (2022). Testimonium. <a href="https://testimonium.co/"
                                                 target="_blank">https://testimonium.co/</a></p>
      <p>Brignull, H. (2010). What is deceptive design? <a href="https://www.deceptive.design/" target="_blank">https://www.deceptive.design/</a>
      </p>
      <p>Rieger, S., & Sinders, C. (2020). Dark Patterns: digitales Design mit gesellschaftlichen Nebenwirkungen.</p>
      <br>

      <strong>DSGVO</strong>
      <p>Schwenke, T. (2020, January 8). Ratgeber: Opt-In-Pflicht für Werbe- und Marketing-Cookies (FAQ mit Anleitung
        und Checkliste). <a
          href=" https://datenschutz-generator.de/bgh-cookies-opt-in-faq-checkliste/#Sind_auch_Komfort-Cookies_Webanalyse-_oder_AB-Testing_unbedingt_erforderlich "
          target="_blank">
          https://datenschutz-generator.de/bgh-cookies-opt-in-faq-checkliste/#Sind_auch_Komfort-Cookies_Webanalyse-_oder_AB-Testing_unbedingt_erforderlich
        </a>
      </p>
      <p>Gray, C. M., Kou, Y., Battles, B., Hoggatt, J., & Toombs, A. L. (2018). The dark (patterns) side of UX design.
        Conference on Human Factors in Computing Systems - Proceedings, 2018-April.
        <a href=" https://doi.org/10.1145/3173574.3174108" target="_blank">
          https://doi.org/10.1145/3173574.3174108
        </a>
      </p>
    </div>

    <div class="cell">
      <strong>Farbsinnstörungen</strong>

      <p>DocMedicus Verlag GmbH & Co. KG. (2022, 22. Juni). Augen | Farbsinnstörungen (Farbsehstörung,
        Farbfehlsichtigkeit) | DocMedicus Gesundheitslexikon, DocMedicus Verlag GmbH & Co. KG. Zugriff am 22.06.2022.
        Verfügbar unter: <a
          href=" http://www.gesundheits-lexikon.com/Augen/Farbsinnstoerungen-Farbsehstoerung-Farbfehlsichtigkeit-/"
          target="_blank">
          http://www.gesundheits-lexikon.com/Augen/Farbsinnstoerungen-Farbsehstoerung-Farbfehlsichtigkeit-/</a>
      </p>
      <p>Erb, C. & Fahle, M. (2006). Farbensehen und erworbene Farbsinnstörungen. Teil I: Grundlagen. Der Ophthalmologe
        : Zeitschrift der Deutschen Ophthalmologischen Gesellschaft, 103(4). Zugriff am 22.06.2022.</p>
      <p>Grossenbacher, m. F. & Zumbühl, D. (2022, 27. April). Farbenblindheit. Zugriff am 27.04.2022. Verfügbar unter:
        <a href="https://www.sprechzimmer.ch/Krankheitsbilder/Farbenblindheit.html" target="_blank">https://www.sprechzimmer.ch/Krankheitsbilder/Farbenblindheit.html</a>
      </p>
      <p>Hoffmann, M. (2013). Modernes Webdesign. Gestaltungsprinzipien, Webstandards, Praxis (Edition Page, 1. Aufl.,
        [3. Aufl.]. Bonn: Galileo Press.</p>
      <p>Munk, Dr. rer. nat. Katharina (Schäffler, m. A., Hrsg.). (2014). Farbenblindheit und Farbschwäche. Zugriff am
        31.03.2022. Verfügbar unter: <a
          href="https://www.apotheken.de/krankheiten/4144-farbenblindheit-und-farbschwaeche" target="_blank">
          https://www.apotheken.de/krankheiten/4144-farbenblindheit-und-farbschwaeche
        </a></p>
      <p>Oesterle, D. D. (NetDoktor, Hrsg.). (2022, 27. April). Farbenblindheit: Ursachen, Test, Heilungschance. Zugriff
        am 27.04.2022. Verfügbar unter: <a href="https://www.netdoktor.ch/krankheiten/farbenblindheit/" target="_blank">
          https://www.netdoktor.ch/krankheiten/farbenblindheit/
        </a></p>
      <p>Optik Adam. (2022, 22. Juni). Farbsinnstörung, Optik Adam. Zugriff am 22.06.2022. Verfügbar unter: <a
        href=" https://www.optik-adam.de/optometrie/augenkrankheiten/farbsinnstoerung" target="_blank">
        https://www.optik-adam.de/optometrie/augenkrankheiten/farbsinnstoerung
      </a>
      </p>
      <p><a href="https://opticundvision.de/2019/04/04/wie-sehen-farbenblinde-die-welt/" target="_blank">https://opticundvision.de/2019/04/04/wie-sehen-farbenblinde-die-welt/
      </a></p>
      <br>

      <strong>How To: Barrierefreiheit</strong>
      <p>Access for all. (n.d.). Barrierefreies Webdesign. Barrierefreiheit im Web, Access for all. Zugriff am
        01.07.2022. Verfügbar unter: <a
          href="https://www.access-for-all.ch/ch/barrierefreiheit/barrierefreies-webdesign.html" target="_blank">
          https://www.access-for-all.ch/ch/barrierefreiheit/barrierefreies-webdesign.html
        </a></p>
      <p>Hellbusch, J. E. & Probiesch, K. (Hrsg.). (2011). Barrierefreiheit verstehen und umsetzen. Webstandards für ein
        zugängliches und nutzbares Internet (1. Aufl.). Heidelberg: dpunkt Verlag.</p>
      <p>Web Content Accessibility Guidelines (WCAG) 2.1. (2018, 5. Juni). Zugriff am 27.07.2022. Verfügbar unter:
        <a href="https://www.w3.org/TR/WCAG21/" target="_blank">https://www.w3.org/TR/WCAG21/</a></p>
    </div>
  </div>
