<mat-toolbar aria-label="Header" class="header mat-elevation-z5" color="primary" role="toolbar">
  <div class="grid no-bottom-gap">
    <img src="{{currentLogoUrl$ | async }}" class="logo" routerLink="/home">
    <div class="cell middle">

      <a aria-disabled="false" aria-label="Care for Design"
         class="mat-focus-indicator docs-button mat-button mat-button-base" mat-button="" routerLink="/home">
    <span class="mat-button-wrapper">
      <span class="name mat-title">{{"Care for Design"| uppercase}}</span></span>
        <span class="mat-ripple mat-button-ripple"></span>
        <span class="mat-button-focus-overlay"></span>
      </a>
    </div>
    <div class="cell middle cell-shrink">
      <button [matMenuTriggerFor]="beforeMenu" aria-label="Select a theme"
              class="accessibility-button mat-flat-button mat-accent">

        <mat-icon aria-hidden="false"
                  class="material-symbols-rounded accessibility-icon mat-icon notranslate material-icons mat-icon-no-color"
                  data-mat-icon-type="font" role="img">
          accessibility_new
        </mat-icon>
        <span>Barrierefreiheit</span>

      </button>

      <a *ngFor="let navbarItem of navbarItems" [attr.aria-label]="navbarItem.ariaLabel" aria-disabled="false"
         class="mat-focus-indicator docs-button mat-button mat-button-base desktop-menu"
         mat-button routerLink="/{{navbarItem.routerLink}}">
    <span class="mat-button-wrapper">
      <span>{{navbarItem.label}}</span>
    </span>
        <span class="mat-ripple mat-button-ripple"></span>
        <span class="mat-button-focus-overlay"></span>
      </a>

      <!-- Mobile Menu -->
      <button [matMenuTriggerFor]="mobileMenu" aria-label="Burgermenu" class="burger-menu" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #mobileMenu="matMenu">
        <a *ngFor="let navbarItem of navbarItems" [attr.aria-label]="navbarItem.ariaLabel" aria-disabled="false"
           class="mat-focus-indicator docs-button mat-button mat-button-base mat-menu-item"
           mat-button="" routerLink="/{{navbarItem.routerLink}}">
    <span class="mat-button-wrapper">
      <span>{{navbarItem.label}}</span>
    </span>
          <span class="mat-ripple mat-button-ripple"></span>
          <span class="mat-button-focus-overlay"></span>
        </a>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>

<mat-menu #beforeMenu="matMenu" xPosition="before">
  <app-theme-switcher>
  </app-theme-switcher>
</mat-menu>


