@use '../../../utilities';
.header {
  position: fixed;
  top: 0;
  z-index: 1;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: utilities.rem(5);
}

.accessibility-button {
  //Todo: Change Colors to Theme Colors
  background: #ffd740;
}

.accessibility-icon {
  vertical-align: middle;
  padding: 0 utilities.rem(0.3) utilities.rem(0.25) 0;
}

.mat-icon-button {
  margin-left: utilities.rem(1);
}

.accessibility-button span {
  display: inline-block;
}

.desktop-menu {
  display: inline-block;
}

.burger-menu {
  display: none;
}

@media (max-width: utilities.rem(40)) {
  .burger-menu {
    display: inline-block;
  }
  .desktop-menu {
    display: none;
  }
  .accessibility-button span {
    display: none;
  }
  .accessibility-icon {
    padding: 0;
  }
}

