<div class="wrapper wrapper-top-bottom">

  <h1 class="mat-display-1">DATENSCHUTZERKLÄRUNG</h1>
  <p>
    Verantwortliche Stelle im Sinne der Datenschutzgesetze, insbesondere der EU-Datenschutzgrundverordnung (DSGVO), ist:
  </p>

  <p>Care for Design<br>
    Engenmoosstrasse 65<br>
    8880 Walenstadt<br>
    Schweiz
  </p>
  <p>E-Mail: <a href="mailto:info@carefordesign.ch"> info@carefordesign.ch </a></p>
  <p>
  <p>Website: <a href="https://www.carefordesign.ch"> https://www.carefordesign.ch </a></p><br><br>
  <p>
    <strong>Allgemeiner Hinweis</strong>
  </p>

  <p>Gestützt auf Artikel 13 der schweizerischen Bundesverfassung und den datenschutzrechtlichen Bestimmungen des Bundes
    (Datenschutzgesetz, DSG) hat jede Person Anspruch auf Schutz ihrer Privatsphäre sowie auf Schutz vor Missbrauch
    ihrer persönlichen Daten. Die Betreiber dieser Seiten nehmen den Schutz Ihrer persönlichen Daten sehr ernst. Wir
    behandeln Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie
    dieser Datenschutzerklärung.<br><br>
    In Zusammenarbeit mit unseren Hosting-Providern bemühen wir uns, die Datenbanken so gut wie möglich vor fremden
    Zugriffen, Verlusten, Missbrauch oder vor Fälschung zu schützen. <br><br>
    Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail)
    Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.
    <br><br>
    Durch die Nutzung dieser Website erklären Sie sich mit der Erhebung, Verarbeitung und Nutzung von Daten gemäss der
    nachfolgenden Beschreibung einverstanden. Diese Website kann grundsätzlich ohne Registrierung besucht werden. Dabei
    werden Daten wie beispielsweise aufgerufene Seiten bzw. Namen der abgerufenen Datei, Datum und Uhrzeit zu
    statistischen Zwecken auf dem Server gespeichert, ohne dass diese Daten unmittelbar auf Ihre Person bezogen werden.
    Personenbezogene Daten, insbesondere Name, Adresse oder E-Mail-Adresse werden soweit möglich auf freiwilliger Basis
    erhoben. Ohne Ihre Einwilligung erfolgt keine Weitergabe der Daten an Dritte.
  </p><br><br>

  <p><strong>Bearbeitung von Personendaten</strong></p>
  <p>Personendaten sind alle Angaben, die sich auf eine bestimmte oder bestimmbare Person beziehen. Eine betroffene
    Person ist eine Person, über die Personendaten bearbeitet werden. Bearbeiten umfasst jeden Umgang mit Personendaten,
    unabhängig von den angewandten Mitteln und Verfahren, insbesondere das Aufbewahren, Bekanntgeben, Beschaffen,
    Löschen, Speichern, Verändern, Vernichten und Verwenden von Personendaten.<br><br>
    Wir bearbeiten Personendaten im Einklang mit dem schweizerischen Datenschutzrecht. Im Übrigen bearbeiten wir –
    soweit und sofern die EU-DSGVO anwendbar ist – Personendaten gemäss folgenden Rechtsgrundlagen im Zusammenhang mit
    Art. 6 Abs. 1 DSGVO: </p>
  <ul>
    <li>Einwilligung (Art. 6 Abs. 1 S. 1 lit. a. DSGVO) - Die betroffene Person hat ihre Einwilligung in die
      Verarbeitung der sie betreffenden personenbezogenen Daten für einen spezifischen Zweck oder mehrere bestimmte
      Zwecke gegeben.<br>
    </li>
    <li>Vertragserfüllung und vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1 lit. b. DSGVO) - Die Verarbeitung ist für die
      Erfüllung eines Vertrags, dessen Vertragspartei die betroffene Person ist, oder zur Durchführung vorvertraglicher
      Massnahmen erforderlich, die auf Anfrage der betroffenen Person erfolgen.
    </li>
    <br>
    <li>Rechtliche Verpflichtung (Art. 6 Abs. 1 S. 1 lit. c. DSGVO) - Die Verarbeitung ist zur Erfüllung einer
      rechtlichen Verpflichtung erforderlich, der der Verantwortliche unterliegt.
    </li>
    <br>
    <li>Schutz lebenswichtiger Interessen (Art. 6 Abs. 1 S. 1 lit. d. DSGVO) - Die Verarbeitung ist erforderlich, um
      lebenswichtige Interessen der betroffenen Person oder einer anderen natürlichen Person zu schützen.
    </li>
    <br>
    <li>Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f. DSGVO) - Die Verarbeitung ist zur Wahrung der berechtigten
      Interessen des Verantwortlichen oder eines Dritten erforderlich, sofern nicht die Interessen oder Grundrechte und
      Grundfreiheiten der betroffenen Person, die den Schutz personenbezogener Daten erfordern, überwiegen.
    </li>
    <br>
    <li>Bewerbungsverfahren als vorvertragliches bzw. vertragliches Verhältnis (Art. 9 Abs. 2 lit. b DSGVO) - Soweit im
      Rahmen des Bewerbungsverfahrens besondere Kategorien von personenbezogenen Daten im Sinne des Art. 9 Abs. 1 DSGVO
      (z.B. Gesundheitsdaten, wie Schwerbehinderteneigenschaft oder ethnische Herkunft) bei Bewerbern angefragt werden,
      damit der Verantwortliche oder die betroffene Person die ihm bzw. ihr aus dem Arbeitsrecht und dem Recht der
      sozialen Sicherheit und des Sozialschutzes erwachsenden Rechte ausüben und seinen bzw. ihren diesbezüglichen
      Pflichten nachkommen kann, erfolgt deren Verarbeitung nach Art. 9 Abs. 2 lit. b. DSGVO, im Fall des Schutzes
      lebenswichtiger Interessen der Bewerber oder anderer Personen gem. Art. 9 Abs. 2 lit. c. DSGVO oder für Zwecke der
      Gesundheitsvorsorge oder der Arbeitsmedizin, für die Beurteilung der Arbeitsfähigkeit des Beschäftigten, für die
      medizinische Diagnostik, die Versorgung oder Behandlung im Gesundheits- oder Sozialbereich oder für die Verwaltung
      von Systemen und Diensten im Gesundheits- oder Sozialbereich gem. Art. 9 Abs. 2 lit. h. DSGVO. Im Fall einer auf
      freiwilliger Einwilligung beruhenden Mitteilung von besonderen Kategorien von Daten, erfolgt deren Verarbeitung
      auf Grundlage von Art. 9 Abs. 2 lit. a. DSGVO.
    </li>
  </ul>
  <p>Wir bearbeiten Personendaten für jene Dauer, die für den jeweiligen Zweck oder die jeweiligen Zwecke erforderlich
    ist. Bei länger dauernden Aufbewahrungspflichten aufgrund von gesetzlichen und sonstigen Pflichten, denen wir
    unterliegen, schränken wir die Bearbeitung entsprechend ein.
  </p><br><br>

  <p><strong>Massgebliche Rechtsgrundlagen</strong></p>

  <p>Nach Massgabe des Art. 13 DSGVO teilen wir Ihnen die Rechtsgrundlagen unserer Datenverarbeitungen mit. Sofern die
    Rechtsgrundlage in der Datenschutzerklärung nicht genannt wird, gilt Folgendes: Die Rechtsgrundlage für die
    Einholung von Einwilligungen ist Art. 6 Abs. 1 lit. a und Art. 7 DSGVO, die Rechtsgrundlage für die Verarbeitung zur
    Erfüllung unserer Leistungen und Durchführung vertraglicher Massnahmen sowie Beantwortung von Anfragen ist Art. 6
    Abs. 1 lit. b DSGVO, die Rechtsgrundlage für die Verarbeitung zur Erfüllung unserer rechtlichen Verpflichtungen ist
    Art. 6 Abs. 1 lit. c DSGVO, und die Rechtsgrundlage für die Verarbeitung zur Wahrung unserer berechtigten Interessen
    ist Art. 6 Abs. 1 lit. f DSGVO. Für den Fall, dass lebenswichtige Interessen der betroffenen Person oder einer
    anderen natürlichen Person eine Verarbeitung personenbezogener Daten erforderlich machen, dient Art. 6 Abs. 1 lit. d
    DSGVO als Rechtsgrundlage.</p>
  <br><br>

  <p><strong>Sicherheitsmassnahmen</strong></p>

  <p>Wir treffen nach Massgabe der gesetzlichen Vorgaben unter Berücksichtigung des Stands der Technik, der
    Implementierungskosten und der Art, des Umfangs, der Umstände und der Zwecke der Verarbeitung sowie der
    unterschiedlichen Eintrittswahrscheinlichkeiten und des Ausmasses der Bedrohung der Rechte und Freiheiten
    natürlicher Personen geeignete technische und organisatorische Massnahmen, um ein dem Risiko angemessenes
    Schutzniveau zu gewährleisten. <br><br>
    Zu den Massnahmen gehören insbesondere die Sicherung der Vertraulichkeit, Integrität und Verfügbarkeit von Daten
    durch Kontrolle des physischen und elektronischen Zugangs zu den Daten als auch des sie betreffenden Zugriffs, der
    Eingabe, der Weitergabe, der Sicherung der Verfügbarkeit und ihrer Trennung. Des Weiteren haben wir Verfahren
    eingerichtet, die eine Wahrnehmung von Betroffenenrechten, die Löschung von Daten und Reaktionen auf die Gefährdung
    der Daten gewährleisten. Ferner berücksichtigen wir den Schutz personenbezogener Daten bereits bei der Entwicklung
    bzw. Auswahl von Hardware, Software sowie Verfahren entsprechend dem Prinzip des Datenschutzes, durch
    Technikgestaltung und durch datenschutzfreundliche Voreinstellungen.
  </p>
  <br><br>

  <p><strong>Übermittlung von personenbezogenen Daten</strong></p>

  <p>Im Rahmen unserer Verarbeitung von personenbezogenen Daten kommt es vor, dass die Daten an andere Stellen,
    Unternehmen, rechtlich selbstständige Organisationseinheiten oder Personen übermittelt oder sie ihnen gegenüber
    offengelegt werden. Zu den Empfängern dieser Daten können z.B. mit IT-Aufgaben beauftragte Dienstleister oder
    Anbieter von Diensten und Inhalten, die in eine Webseite eingebunden werden, gehören. In solchen Fall beachten wir
    die gesetzlichen Vorgaben und schliessen insbesondere entsprechende Verträge bzw. Vereinbarungen, die dem Schutz
    Ihrer Daten dienen, mit den Empfängern Ihrer Daten ab.
  </p>
  <br><br>

  <p><strong>Datenverarbeitung in Drittländern</strong></p>

  <p>Sofern wir Daten in einem Drittland (d.h., ausserhalb der Europäischen Union (EU), des Europäischen
    Wirtschaftsraums (EWR)) verarbeiten oder die Verarbeitung im Rahmen der Inanspruchnahme von Diensten Dritter oder
    der Offenlegung bzw. Übermittlung von Daten an andere Personen, Stellen oder Unternehmen stattfindet, erfolgt dies
    nur im Einklang mit den gesetzlichen Vorgaben. <br><br>

    Vorbehaltlich ausdrücklicher Einwilligung oder vertraglich oder gesetzlich erforderlicher Übermittlung, verarbeiten
    wir die Daten nur in Drittländern mit einem anerkannten Datenschutzniveau, vertraglicher Verpflichtung durch
    sogenannte Standardschutzklauseln der EU-Kommission, beim Vorliegen von Zertifizierungen oder verbindlichen internen
    Datenschutzvorschriften (Art. 44 bis 49 DSGVO, Informationsseite der EU-Kommission:
    https://ec.europa.eu/info/law/law-topic/data-protection/international-dimension-data-protection_de).
  </p>
  <br><br>


  <p><strong> Datenschutzerklärung für die Nutzung von Google Web Fonts</strong></p>
  <p>
    Diese Website nutzt zur einheitlichen Darstellung von Schriftarten so genannte Web Fonts, die von Google
    bereitgestellt werden. Beim Aufruf einer Seite lädt Ihr Browser die benötigten Web Fonts in ihren Browsercache, um
    Texte und Schriftarten korrekt anzuzeigen. Wenn Ihr Browser Web Fonts nicht unterstützt, wird eine Standardschrift
    von Ihrem Computer genutzt.

    Weitere Informationen zu Google Web Fonts finden Sie unter <a href='https://developers.google.com/fonts/faq'
                                                                  target='_blank' rel='noopener'>https://developers.google.com/fonts/faq</a>
    und in der Datenschutzerklärung von Google: <a href='https://www.google.com/policies/privacy/'
                                                   target='_blank'
                                                   rel='noopener'>https://www.google.com/policies/privacy</a>
  </p><br><br>

  <p><strong>Audio- und Video-Konferenzen</strong></p>

  <p>Wir verwenden Dienste für Audio- und Video-Konferenzen, um mit unseren Nutzern sowie sonstigen Personen
    kommunizieren zu können. Wir können damit insbesondere Audio- und Video-Konferenzen, virtuelle Besprechungen sowie
    Schulungen wie beispielsweise Webinare durchführen. <br><br>
    Wir verwenden nur Dienste, bei denen ein angemessener Datenschutz gewährleistet ist. Es gelten ergänzend zu dieser
    Datenschutzerklärung jeweils auch allfällige Bedingungen der verwendeten Dienste wie beispielsweise
    Nutzungsbedingungen oder Datenschutzerklärungen. <br><br>
    Wir verwenden insbesondere Zoom, einen Dienst der amerikanischen Zoom Video Communications Inc. Die Rechte gemäss
    der europäischen Datenschutz-Grundverordnung (DSGVO) gewährt Zoom auch gegenüber Nutzerinnen und Nutzern in der
    Schweiz. Weitere Angaben über Art, Umfang und Zweck der Datenbearbeitung finden sich in den <a
      href="https://zoom.us/de-de/privacy.html" target="_blank" rel="noopener noreferrer">Datenschutzrichtlinien</a>
    sowie auf der <a href="https://zoom.us/docs/de-de/privacy-and-legal.html" target="_blank"
                     rel="noopener noreferrer">Seite
      «Rechtliche Bestimmungen und Datenschutz»</a> jeweils von Zoom.
  </p>
  <br><br>


  <p><strong>Datenschutzerklärung für YouTube</strong></p>

  <p> Auf dieser Website sind Funktionen des Dienstes «YouTube» eingebunden. «YouTube» gehört der Google Ireland
    Limited,
    einer nach irischem Recht eingetragenen und betriebenen Gesellschaft mit Sitz in Gordon House, Barrow Street, Dublin
    4, Irland, welche die Dienste im Europäischen Wirtschaftsraum und der Schweiz betreibt.<br><br>
    Ihre rechtliche Vereinbarung mit «YouTube» besteht aus den unter folgendem Link zu entnehmenden Bestimmungen und
    Bedingungen: <a href="https://www.youtube.com/static?gl=de&template=terms&hl=de" target="_blank"
                    rel="noopener noreferrer">Seite
      https://www.youtube.com/static?gl=de&template=terms&hl=de</a>. Diese Bestimmungen bilden eine rechtlich
    bindende Vereinbarung zwischen Ihnen und «YouTube» bezüglich der Nutzung der Dienste. In der Datenschutzerklärung
    von
    Google wird erläutert, wie «YouTube» mit Ihren personenbezogenen Daten verfährt und Ihre Daten schützt, wenn Sie den
    Dienst nutzen.
  </p>
  <br><br>

  <p><strong>Hinweis zur Datenweitergabe in die USA</strong></p>

  <p>Auf unserer Website sind unter anderem Tools von Unternehmen mit Sitz in den USA eingebunden. Wenn diese Tools
    aktiv sind, können Ihre personenbezogenen Daten an die US-Server der jeweiligen Unternehmen weitergegeben werden.
    Wir weisen darauf hin, dass die USA kein sicherer Drittstaat im Sinne des EU-Datenschutzrechts sind. US-Unternehmen
    sind dazu verpflichtet, personenbezogene Daten an Sicherheitsbehörden herauszugeben, ohne dass Sie als Betroffener
    hiergegen gerichtlich vorgehen könnten. Es kann daher nicht ausgeschlossen werden, dass US-Behörden (z.B.
    Geheimdienste) Ihre auf US-Servern befindlichen Daten zu Überwachungszwecken verarbeiten, auswerten und dauerhaft
    speichern. Wir haben auf diese Verarbeitungstätigkeiten keinen Einfluss.
  </p>
  <br><br>

  <p><strong>Urheberrechte</strong></p>

  <p>Die Urheber- und alle anderen Rechte an Inhalten, Bildern, Fotos oder anderen Dateien auf der Website, gehören
    ausschliesslich dem Betreiber dieser Website oder den speziell genannten Rechteinhabern. Für die Reproduktion von
    sämtlichen Dateien, ist die schriftliche Zustimmung des Urheberrechtsträgers im Voraus einzuholen. <br><br>
    Wer ohne Einwilligung des jeweiligen Rechteinhabers eine Urheberrechtsverletzung begeht, kann sich strafbar und
    allenfalls schadenersatzpflichtig machen.
  </p>
  <br><br>

  <p><strong>Allgemeiner Haftungsausschluss</strong></p>

  <p>Alle Angaben unseres Internetangebotes wurden sorgfältig geprüft. Wir bemühen uns, unser Informationsangebot
    aktuell, inhaltlich richtig und vollständig anzubieten. Trotzdem kann das Auftreten von Fehlern nicht völlig
    ausgeschlossen werden, womit wir keine Garantie für Vollständigkeit, Richtigkeit und Aktualität von Informationen
    auch journalistisch-redaktioneller Art übernehmen können. Haftungsansprüche aus Schäden materieller oder ideeller
    Art, die durch die Nutzung der angebotenen Informationen verursacht wurden, sind ausgeschlossen, sofern kein
    nachweislich vorsätzliches oder grob fahrlässiges Verschulden vorliegt.<br><br>
    Der Herausgeber kann nach eigenem Ermessen und ohne Ankündigung Texte verändern oder löschen und ist nicht
    verpflichtet, Inhalte dieser Website zu aktualisieren. Die Benutzung bzw. der Zugang zu dieser Website geschieht auf
    eigene Gefahr des Besuchers. Der Herausgeber, seine Auftraggeber oder Partner sind nicht verantwortlich für Schäden,
    wie direkte, indirekte, zufällige, vorab konkret zu bestimmende oder Folgeschäden, die angeblich durch den Besuch
    dieser Website entstanden sind und übernehmen hierfür folglich keine Haftung. <br><br>
    Der Herausgeber übernimmt ebenfalls keine Verantwortung und Haftung für die Inhalte und die Verfügbarkeit von
    Website Dritter, die über externe Links dieser Website erreichbar sind. Für den Inhalt der verlinkten Seiten sind
    ausschliesslich deren Betreiber verantwortlich. Der Herausgeber distanziert sich damit ausdrücklich von allen
    Inhalten Dritter, die möglicherweise straf- oder haftungsrechtlich relevant sind oder gegen die guten Sitten
    verstossen.
  </p>
  <br><br>

  <p><strong>Änderungen</strong></p>

  <p>Wir können diese Datenschutzerklärung jederzeit ohne Vorankündigung anpassen. Es gilt die jeweils aktuelle, auf
    unserer Website publizierte Fassung. Soweit die Datenschutzerklärung Teil einer Vereinbarung mit Ihnen ist, werden
    wir Sie im Falle einer Aktualisierung über die Änderung per E-Mail oder auf andere geeignete Weise informieren.
  </p>
  <br><br>

  <p><strong>Fragen an den Datenschutzbeauftragten</strong></p>

  <p>Wenn Sie Fragen zum Datenschutz haben, schreiben Sie uns bitte eine E-Mail oder wenden Sie sich direkt an die für
    den Datenschutz zu Beginn der Datenschutzerklärung aufgeführten, verantwortlichen Person in unserer Organisation.
  </p>
  <br><br>


  <p>Quelle: <a href="https://www.swissanwalt.ch" target="_blank"
                rel="noopener">SwissAnwalt</a></p>
</div>
