<div class="wrapper wrapper-top-bottom">

  <h1 class="mat-display-1">IMPRESSUM</h1>


  <p>
    <strong>Kontakt-Adresse</strong></p>
  <p>Care for Design<br>
    Engenmoosstrasse 65<br>
    8880 Walenstadt<br>
    Schweiz
  </p>
  <p>E-Mail: <a href="mailto:info@carefordesign.ch"> info@carefordesign.ch </a></p><br><br>
  <p>
    <strong>Haftungsausschluss</strong>
  </p>

  <p>Der Autor übernimmt keinerlei Gewähr hinsichtlich der inhaltlichen Richtigkeit, Genauigkeit, Aktualität,
    Zuverlässigkeit und Vollständigkeit der Informationen.
    Haftungsansprüche gegen den Autor wegen Schäden materieller oder immaterieller Art, welche aus dem Zugriff oder der
    Nutzung bzw. Nichtnutzung der veröffentlichten Informationen, durch Missbrauch der Verbindung oder durch technische
    Störungen entstanden sind, werden ausgeschlossen.<br><br>
    Alle Angebote sind unverbindlich. Der Autor behält es sich ausdrücklich vor, Teile der Seiten oder das gesamte
    Angebot
    ohne besondere Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig
    einzustellen.
  </p><br><br>

  <p><strong>Haftungsausschluss für Links</strong></p>
  <p>Verweise und Links auf Webseiten Dritter liegen ausserhalb unseres Verantwortungsbereichs. Es wird jegliche
    Verantwortung für solche Webseiten abgelehnt. Der Zugriff und die Nutzung solcher Webseiten erfolgen auf eigene
    Gefahr
    des jeweiligen Nutzers.</p><br><br>

  <p><strong>Urheberrechte</strong></p>

  <p>Die Urheber- und alle anderen Rechte an Inhalten, Bildern, Fotos oder anderen Dateien auf dieser Website, gehören
    ausschliesslich Care for Design oder den speziell genannten Rechteinhabern. Für die Reproduktion jeglicher Elemente
    ist die schriftliche Zustimmung des Urheberrechtsträgers im Voraus einzuholen.</p>
  <br><br>
  <p>Quelle: <a href="https://www.swissanwalt.ch" rel="noopener"
                target="_blank">SwissAnwalt</a></p>
</div>
