/* For use in src/lib/core/theming/_palette.scss */
$md-primarylight: (
  50 : #efe9f3,
  100 : #d6c9e1,
  200 : #bba5cd,
  210 : #e1b6ff,
  300 : #a081b9,
  400 : #8b66aa,
  500 : #774b9b,
  600 : #6f4493,
  700 : #643b89,
  800 : #5a337f,
  900 : #47236d,
  A100 : #d4afff,
  A200 : #b87cff,
  A400 : #9c49ff,
  A700 : #8f30ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$md-accentlight: (
  50 : #eaede0,
  100 : #cad1b3,
  200 : #a7b380,
  300 : #83954d,
  400 : #697e26,
  500 : #4e6700,
  600 : #475f00,
  700 : #3d5400,
  800 : #354a00,
  900 : #253900,
  A100 : #c0ff6f,
  A200 : #aaff3c,
  A400 : #93ff09,
  A700 : #86ef00,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-warnlight: (
  50 : #f7e4e4,
  100 : #eabbbb,
  200 : #dd8d8d,
  300 : #cf5f5f,
  400 : #c43d3d,
  500 : #ba1b1b,
  600 : #b31818,
  700 : #ab1414,
  800 : #a31010,
  900 : #940808,
  A100 : #ffc1c1,
  A200 : #ff8e8e,
  A400 : #ff5b5b,
  A700 : #ff4141,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);

$md-primarydark: (
  50 : #fbf6ff,
  100 : #f6e9ff,
  200 : #f0dbff,
  300 : #eaccff,
  400 : #e6c1ff,
  500 : #e1b6ff,
  600 : #ddafff,
  700 : #d9a6ff,
  800 : #d59eff,
  900 : #cd8eff,
  910 : #774b9b,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-accentdark: (
  50 : #f5fae7,
  100 : #e6f2c4,
  200 : #d6ea9d,
  300 : #c6e275,
  400 : #b9db58,
  500 : #add53a,
  600 : #a6d034,
  700 : #9cca2c,
  800 : #93c425,
  900 : #83ba18,
  A100 : #f9ffee,
  A200 : #e6ffbb,
  A400 : #d3ff88,
  A700 : #caff6e,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-warndark: (
  50 : #fff6f5,
  100 : #ffe9e5,
  200 : #ffdad4,
  300 : #ffcbc3,
  400 : #ffbfb6,
  500 : #ffb4a9,
  600 : #ffada2,
  700 : #ffa498,
  800 : #ff9c8f,
  900 : #ff8c7e,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

