<div class="grid" *ngIf="(filteredPosts$ | async) as items;">
  <div class="cell cell-shrink">
    <form class="example-form" >
      <mat-form-field >
        <mat-label>Suche</mat-label>
        <input type="text" matInput [formControl]="inputControl" [matAutocomplete]="auto">
        <mat-hint *ngIf="inputControl.dirty && items.length ===0">
          Es wurden leider keine Beiträge zu diesem Thema gefunden!
        </mat-hint>
        <mat-autocomplete #auto="matAutocomplete" >
          <mat-option *ngFor="let post of items" [value]="post.id" (onSelectionChange)="onItemClick(post.id)">
            <div [innerHTML]="post.title.rendered" ></div>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>
  <div class="cell">
    <button mat-raised-button color="primary"
            [disabled]=" items.length===0"
            (click)="onNavigateToList()">
      <ng-container *ngIf="items.length === 1; else multiple">Resultat</ng-container>
      <ng-template #multiple>Resultate</ng-template>
      &nbsp;anzeigen
    </button>
  </div>
</div>


