<div class="grid" *ngIf="(filteredPosts$ | async) as items;">
  <div class="cell sm12-down md8-up">
    <form class="search-form">
      <mat-form-field class="search-form-field">
        <mat-label>Suchen</mat-label>
        <input type="text" matInput [formControl]="inputControl" [matAutocomplete]="auto">
        <mat-hint *ngIf="inputControl.dirty  && items.length ===0">
          <ng-container *ngIf=" inputControl.value?.length > 1; else minLengthRequired">
            Es wurden leider keine Beiträge zu diesem Thema gefunden!
          </ng-container>
          <ng-template #minLengthRequired>
            Weiter schreiben für automatische Vorschläge!
          </ng-template>
        </mat-hint>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let post of items" [value]="post.id" (onSelectionChange)="onItemClick(post.id)">
            <div [innerHTML]="post.title.rendered"></div>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>
</div>


