<ng-container *ngIf="posts$ | async; let posts; else title">
  <app-headliner text="BEITRÄGE">
    <div class="cell searchbar">
      <app-search-bar
        (onSearchChanged)="onSearchChanged($event)"
        [posts]="posts"
        [search]="searchInput"
      ></app-search-bar>
    </div>
    <div class="cell">
      <app-tag-selection
        (onSelectedTagsChanged)="onSelectedTagsChanged($event)"
        *ngIf="tags$ | async;let tags"
        [tags]="tags"
      ></app-tag-selection>
    </div>
  </app-headliner>

  <div class="content-wrapper">

    <div class="cell">
      <app-post-list [posts]="posts
                          | tagFilter: selectedTagIds
                          | contentFilter: searchInput"
      ></app-post-list>
    </div>
  </div>
</ng-container>

<ng-template #title>
  <app-headliner text="BEITRÄGE"></app-headliner>
</ng-template>
