@use './src/utilities';
@use '../../../mixins';
.wrapper {
  padding-top: utilities.rem(12);
  padding-bottom: utilities.rem(8);
}


div.main.wrapper {
  margin-top: utilities.rem(-16);
  padding-bottom: utilities.rem(2)
}

.vertical-spacer {
  margin-top: utilities.rem(8);
  margin-bottom: utilities.rem(8);
}

button {
  margin-top: utilities.rem(1);
}


@media (max-width: utilities.rem(48)) {
  .text-image-direction {
    flex-direction: column;
    flex-flow: column-reverse;
  }

  app-post-counter {
    display: none;
  }

  div.main.wrapper {
    margin-top: utilities.rem(-16);
    padding-bottom: utilities.rem(0);
  }
}
