@use './src/utilities';

.wrapper {
  margin-top: utilities.rem(15);
  margin-bottom: utilities.rem(8);
}

.vertical-spacer {
  margin-top: utilities.rem(8);
  margin-bottom: utilities.rem(8);
}

button {
  margin-top: utilities.rem(1);
}


@media (max-width: utilities.rem(47)) {
  .text-image-direction {
    flex-direction: column;
    flex-flow: column-reverse;

  }
}
