@use '../../../styles/utilities';

.home-wrapper {
  margin-top: utilities.rem(-16);
  padding-bottom: utilities.rem(2)
}

.vertical-spacer {
  margin-top: utilities.rem(8);
  margin-bottom: utilities.rem(8);
}

button {
  margin-top: utilities.rem(1);
}

.counter {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: utilities.rem(48)) {
  .text-image-direction {
    flex-direction: column;
    flex-flow: column-reverse;
  }

  app-post-counter {
    display: none;
  }

  .home-wrapper {
    padding-bottom: utilities.rem(0);
  }
}
