<app-headliner text="LESS IS MORE">
  <div *ngIf="posts$ | async; let posts" class="grid xs12-up center">
    <div class="cell">
      <div class="grid">
        <div class="cell">
          <app-search-bar
            (onSearchChanged)="onSearchChanged($event)"
            [posts]="posts">
          </app-search-bar>
        </div>
      </div>
      <div class="cell">
        <div class="cell center">
          <button (click)="onNavigateToList()" [disabled]=" (posts | contentFilter: searchInput).length===0"
                  color="primary"
                  mat-raised-button>
            Anzeigen
          </button>
        </div>
      </div>
    </div>
  </div>
</app-headliner>

<div class="content-wrapper home-wrapper">
  <div *ngIf="posts$ | async; let posts" class="grid sm12-down md4-up center counters">
    <div class="cell center">
      <app-post-counter [count]="posts?.length" class="counter"
                        title="Beiträge"
      ></app-post-counter>
    </div>

    <ng-container *ngIf="posts | authorReducer; let authors">
      <div *ngIf="authors?.length" class="cell center">
        <app-post-counter [count]="authors?.length" class="counter"
                          title="Publizierende"
        ></app-post-counter>
      </div>

    </ng-container>
    <ng-container *ngIf="posts| tagReducer; let tags;">
      <div *ngIf="tags?.length" class="cell center">
        <app-post-counter [count]="tags?.length" class="counter"
                          title="Themen"
        ></app-post-counter>
      </div>

    </ng-container>
  </div>

  <div class="text-image-direction grid grid-gap vertical-spacer">
    <div class="cell md12-down lg7-up vertical-spacer">
      <h1 class="mat-headline"> Was ist Care for Design?</h1> <br>
      <p class="mat-body">
        Als kreative Köpfe, die ihre Leidenschaft im Designen von Webseiten fanden, haben wir uns im Rahmen der
        Bachelorarbeit mit Themen aus der Webdesign-Branche beschäftigt. Cookie-Banner, Dark Patterns, barrierefreies
        Webdesign oder auch die Farbsinnstörung sind Themen, mit welchen wir uns im letzten halben Jahr beschäftigt
        haben. <br> <br> "Care for Design" ist das Resultat unseres Lehrprojekts. Die Seite ist für Personen mit einer
        Farbsinnstörung barrierefrei. Unsere Beiträge geben zudem einen Einblick in unsere behandelten Themen.
      </p> <br>
      <button class="mat-flat-button mat-primary" routerLink="/about-us"> Lerne uns kennen</button>
    </div>
    <div class="cell center md12-down lg5-up no-bottom-gap middle">
      <app-illustration-project></app-illustration-project>
    </div>
  </div>
</div>
