<div class="wrapper">
  <div class="grid title xs12-up">
    <div class="cell center">
      <h1 class="error-illustration">Oha, diese Seite wurde nicht gefunden!</h1>
    </div>
  </div>
  <br><br>
  <div class="grid xs12-up">
    <div class="cell center">
      <app-illustration-error class="error-illustration"></app-illustration-error>
    </div>
  </div>
  <br><br>
  <div class="grid description xs12-up">
    <div class="cell center">
      <p class="mat-body ">Die Seite kann unter diesem Link nicht gefunden werden. Sie wurde möglicherweise umplatziert
        oder gelöscht.</p>
    </div>
    <div class="cell center">
      <button class="mat-flat-button mat-primary" routerLink="/home"> zur Startseite</button>
    </div>
  </div>

</div>

