<div class="headliner">
  <div class="wrapper head">
    <div class="grid">
      <div class="cell xs12-up center">
        <h1 class="mat-display-2">DAS SIND WIR</h1>
      </div>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="text-image-direction grid grid-gap">
    <div class="cell center md12-down lg5-up no-bottom-gap middle">
      <app-illustation-about-us></app-illustation-about-us>
    </div>
    <div class="cell md12-down lg7-up middle">
      <p class="mat-body">
        Der Zufall und die gemeinsamen Interessen haben uns für dieses Projekt zusammengebracht. Ohne uns gross zu
        kennen und ohne zuvor ein Projekt zusammen erarbeitet zu haben, wagten wir uns gemeinsam an diese
        Herausforderung. Wir konnten viel voneinander lernen, viel miteinander lachen und gemeinsam Stolpersteine
        überwinden. Über die Zeit entwickelte sich aus einer Bekanntschaft eine Freundschaft und diese Website.
      </p>
    </div>
  </div>


  <div class="grid grid-gap md12-down lg6-up vertical-spacer">
    <div *ngFor="let aboutUsItem of aboutUsItems" class="cell center">
      <mat-card class="portrait-card">
        <img mat-card-image src="assets/images/{{aboutUsItem.imgURL}}" alt="{{aboutUsItem.altText}}">
        <mat-card-header>
          <mat-card-title>{{aboutUsItem.title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{aboutUsItem.contentIntro}} <br> <br>
            {{aboutUsItem.contentDesign}} <br> <br>
            {{aboutUsItem.contentFreetime}}
          </p>
        </mat-card-content>
        <button mat-button mat-flat-button class="mat-primary">
          <mat-icon>mail</mat-icon>
          Kontakt
        </button>
      </mat-card>
    </div>
  </div>

</div>




