<div class="gird wrapper">
  <div class="grid">
    <div class="cell xs12-up center">
      <h1 class="mat-display-2">DAS SIND WIR</h1>
    </div>
    <div class="cell xs12-up center">
      <app-illustation-about-us></app-illustation-about-us>

    </div>
    <div class="cell">
    </div>

  </div>


  <div class="grid grid-flex">
    <div class="grid xs12-down sm6-up ">
      <div class="cell center xs12-up">
        <img class="portrait" src="assets/images/Alessia_Portrait_web.jpg">
      </div>
      <div class="cell xs10-up center ">
        <h2>Ciao, ich bin Alessia!</h2><br>
        <p>
          Ich wohne am schönen Walensee und liebe es, in der Natur zu
          sein. Der Ausblick in die Weite und der Geruch von frisch geschnittenem Gras zaubert mir immer ein Lächeln ins
          Gesicht. Ich liebe Pizza so sehr, dass ich mir das Wort Pizza habe eintätowieren lassen. <br><br> Ich liebe
          es, nach
          Inspirationen im Web zu suchen und verschiedene Designs zu analysieren. Meine grösste Design-Leidenschaft habe
          ich bei Farben und Formen entdeckt. <br> <br> Eine weitere Leidenschaft, welche wenig mit Design am Hut hat,
          jedoch
          trotzdem was mit Ästhetik verbindet, ist das Geräteturnen. Seit ich klein bin, verbringe ich Zeit in der
          Turnhalle und habe dort meinen Ausgleich zum Alltag gefunden.
        </p>
      </div>
    </div>

    <div class="grid  xs12-down sm6-up">
      <div class="cell center xs12-up ">
        <img class="portrait" src="assets/images/Sesea_Portrait_web.jpg">
      </div>
      <div class="cell xs10-up center">
        <h2>Hoi, ich bin Sesea!</h2><br>
        <p>
          Ich wohne am Stadtrand von Chur nur wenige Schritte vom Rhein entfernt. Mein Zuhause ist meine Wohlfühloase,
          ich liebe Pflanzen und habe einige in
          meiner Wohnung stehen. Ich mag es, wenn es nach Erde riecht und die Blätter nach dem Giessen in einem saftigen
          grün glänzen.<br><br>
          Nebst grossem Interessen an der Designwelt, liebe isch schöne und kreative Webdesigns. Es liegt mir jedoch am
          Herzen, dass Webseiten für alle zugänglich gestaltet sind. <br> <br>
          Wenn ich mal eine Auszeit von der digitalen Welt brauche, findest du mich in der Küche, in der Natur oder auch
          beim Tanzen, eine Leidenschaft,
          die mich schon mein Lebenlang begleitet und mich für einen Augenblick in eine andere Welt eintauchen lässt.
          Generell liebe ich es neue Dinge auszuprobieren und mein Wissen zu erweitern.
          <br>
        </p>
      </div>
    </div>
  </div>
</div>

