@use './src/utilities';

.wrapper {
  margin-top: utilities.rem(15);
  margin-bottom: utilities.rem(8);
}

.vertical-spacer {
  margin-top: utilities.rem(8);
  margin-bottom: utilities.rem(8);
}

.portrait-card {
  width: 80%;
  max-width: utilities.rem(24);
}

mat-card-content {
  text-align: left;
  margin: utilities.rem(1);
}

mat-card-title {
  margin-top: utilities.rem(1);
}

mat-icon {
  margin-top: utilities.rem(-0.3);
  margin-right: utilities.rem(0.5)
}

button {
  margin: utilities.rem(1)
}
