<div class="headliner">
  <div class="wrapper head">
    <div class="grid">
      <div class="cell xs12-up center">
        <h1 class="mat-display-2">DAS SIND WIR</h1>
      </div>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="text-image-direction grid grid-gap">
    <div class="cell center md12-down lg5-up no-bottom-gap middle">
      <app-illustation-about-us></app-illustation-about-us>
    </div>
    <div class="cell md12-down lg7-up middle">
      <p class="mat-body">
        Der Zufall und die gemeinsamen Interessen haben uns für dieses Projekt zusammengebracht. Ohne uns gross zu
        kennen und ohne zuvor ein Projekt zusammen erarbeitet zu haben, wagten wir uns gemeinsam an diese
        Herausforderung. Wir konnten viel voneinander lernen, viel miteinander lachen und gemeinsam Stolpersteine
        überwinden. Über die Zeit entwickelte sich aus einer Bekanntschaft eine Freundschaft und diese Website.
      </p>
    </div>

  </div>


  <div class="grid grid-flex grid-gap md12-down lg6-up vertical-spacer">
    <div class="cell center">
      <mat-card class="portrait-card">
        <img mat-card-image src="assets/images/Alessia_Portrait_web.jpg" alt="Foto Alessa">
        <mat-card-header>
          <mat-card-title>Ciao, ich bin Alessia!</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Ich wohne am schönen Walensee und liebe es, in der Natur zu
            sein. Der Ausblick in die Weite und der Geruch von frisch geschnittenem Gras zaubert mir immer ein Lächeln
            ins
            Gesicht. Ich liebe Pizza so sehr, dass ich mir das Wort Pizza habe eintätowieren lassen. <br><br> Ich
            liebe
            es, nach
            Inspirationen im Web zu suchen und verschiedene Designs zu analysieren. Meine grösste Design-Leidenschaft
            habe
            ich bei Farben und Formen entdeckt. <br> <br> Eine weitere Leidenschaft, welche wenig mit Design am Hut
            hat,
            jedoch
            trotzdem was mit Ästhetik verbindet, ist das Geräteturnen. Seit ich klein bin, verbringe ich Zeit in der
            Turnhalle und habe dort meinen Ausgleich zum Alltag gefunden.
          </p>
        </mat-card-content>
        <button mat-button mat-flat-button class="mat-primary">
          <mat-icon>mail</mat-icon>
          Kontakt
        </button>
      </mat-card>
    </div>

    <div class="cell center">
      <mat-card class="portrait-card">
        <img mat-card-image src="assets/images/Sesea_Portrait_web.jpg" alt="Foto Sesea">
        <mat-card-header>
          <mat-card-title>Hoi, ich bin Sesea!</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Ich wohne am Stadtrand von Chur, nur wenige Schritte vom Rhein entfernt. Mein Zuhause ist meine
            Wohlfühloase,
            ich liebe Pflanzen und habe einige in
            meiner Wohnung stehen. Ich mag es, wenn es nach Erde riecht und die Blätter nach dem Giessen in einem
            saftigen
            grün glänzen.<br><br>
            Nebst grossem Interessen an der Designwelt, liebe isch ästhetische und kreative Webdesigns. Es liegt mir
            jedoch
            am
            Herzen, dass Webseiten für alle zugänglich gestaltet sind. <br> <br>
            Wenn ich mal eine Auszeit von der digitalen Welt brauche, findest du mich in der Küche, in der Natur oder
            auch
            beim Tanzen, eine Leidenschaft,
            die mich schon mein Lebenlang begleitet und mich für einen Augenblick in eine andere Welt eintauchen
            lässt.
          </p>
        </mat-card-content>
        <button mat-button mat-flat-button class="mat-primary">
          <mat-icon>mail</mat-icon>
          Kontakt
        </button>
      </mat-card>
    </div>

  </div>

</div>




