// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use 'variables' as costum;
@use 'mixins';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$dark-carefordesign-primary: mat.define-palette(costum.$md-primarydark);
$dark-carefordesign-accent: mat.define-palette(costum.$md-accentdark, A200, A100, A400);

// The warn palette is optional (defaults to red).
$dark-carefordesign-warn: mat.define-palette(costum.$md-warndark);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$dark-theme: mat.define-dark-theme((
  color: (
    primary: $dark-carefordesign-primary,
    accent: $dark-carefordesign-accent,
    warn: $dark-carefordesign-warn,
  )));
@include mat.all-component-themes($dark-theme);
@include mixins.theme-extension($dark-theme, 800);
