@use './src/utilities';

.wrapper-top-bottom {
  margin-top: utilities.rem(14);
  margin-bottom: utilities.rem(8);
}

.wrapper.head {
  padding-top: utilities.rem(12);
  padding-bottom: utilities.rem(2);
}
