@use '@angular/material';
@use "sass:map";
@use 'src/styles';

//Light-Theme
$primary: map.get(styles.$carefordesign-theme, primary);
$accent: map.get(styles.$carefordesign-theme, accent);
$color: material.get-color-from-palette($primary, default);

@mixin backgroud-class-headliner() {
  background-color: #{$color};
}


//Link-Light-Theme
$link-color: material.get-color-from-palette($accent, 500);
$link-color-visited: material.get-color-from-palette($primary, 400);
$link-color-hover: material.get-color-from-palette($accent, 400);
$link-color-active: material.get-color-from-palette($accent, 400);

@mixin link-colors($link, $visited, $hover, $active) {
  a {
    color: $link;

    &:visited {
      color: $visited;
    }

    &:hover {
      color: $hover;
    }

    &:active {
      color: $active;
    }
  }
}

//Dark-Theme
$primary: map.get(styles.$dark-carefordesign-theme, primary);
$accent: map.get(styles.$dark-carefordesign-theme, accent);
$color: material.get-color-from-palette($primary, default);

@mixin backgroud-class-headliner() {
  background-color: #{$color};
}

//Link-Dark-Theme
$link-color: material.get-color-from-palette($accent, 500);
$link-color-visited: material.get-color-from-palette($primary, 400);
$link-color-hover: material.get-color-from-palette($accent, 400);
$link-color-active: material.get-color-from-palette($accent, 400);

@mixin link-colors($link, $visited, $hover, $active) {
  & {
    color: $link;

    &:visited {
      color: $visited;
    }

    &:hover {
      color: $hover;
    }

    &:active {
      color: $active;
    }
  }
}


a.link {
  @include link-colors($link-color, $link-color-visited, $link-color-hover, $link-color-active);
}

.headliner {
  @include backgroud-class-headliner;
}

