/* For use in src/lib/core/theming/_palette.scss */
$md-carefordesignprimary: (
  50 : #f4eff8,
  100 : #e3d7ed,
  200 : #d1bce2,
  300 : #bea1d6,
  400 : #b08ccd,
  500 : #a278c4,
  600 : #9a70be,
  700 : #9065b6,
  800 : #865baf,
  900 : #7548a2,
  A100 : #fdfcff,
  A200 : #e3c9ff,
  A400 : #c996ff,
  A700 : #bc7cff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-carefordesignaccent: (
  50 : #faffec,
  100 : #f2ffd0,
  200 : #eaffb0,
  300 : #e2ff90,
  400 : #dbff79,
  500 : #d5ff61,
  600 : #d0ff59,
  700 : #caff4f,
  800 : #c4ff45,
  900 : #baff33,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #f3ffde,
  A700 : #eaffc4,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

