<div class="grid grid-gap sm12-down md6-only md4-up">
  <div class="cell" *ngFor="let post of posts  ">
    <mat-card>
      <section class="post">

        <img *ngIf="hasImage(post); else spinner"
             mat-card-image [src]="getImageSource(post)"
             [alt]="getImageAlt(post)">

        <mat-card-header class="post-header">
          <mat-card-title class="post-title" [innerHTML]="post.title.rendered">
          </mat-card-title>
          <mat-card-subtitle>
            <p class="meta-data">
              AutorIn: <a href="#" target="_blank" class="post-author">unknown</a> <br>
              veröffentlicht am: <a href="#">{{post.date | date: 'dd.MM.yyyy'}}</a>
            </p>

          </mat-card-subtitle>
        </mat-card-header>


        <!-- ToDo: Spinner not working in Posts -->
        <ng-template #spinner>
          <ng-container *ngIf="isImageLoading">
            <app-spinner></app-spinner>
          </ng-container>
        </ng-template>

        <mat-card-content class="post-description"
                          [innerHTML]="post.excerpt.rendered | slice: 0:400">
        </mat-card-content>

        <mat-card-actions>
          <button class="mat-flat-button mat-primary" [routerLink]="['/posts', post.id]">
            Beitrag lesen
          </button>
        </mat-card-actions>
      </section>
    </mat-card>
  </div>
</div>


