@use '../../../styles/utilities';
@use '../../../styles/layout';

.content-spacer {
  margin-top: utilities.rem(8);
}

.post-title {
  margin-bottom: utilities.rem(0);
}

.vertical-spacer {
  margin-top: utilities.rem(4);
  margin-bottom: utilities.rem(4);
}


