<app-headliner [text]="post.title.rendered | uppercase">
  <section *ngIf="post" class="post">
    <header class="post-header">
      <p class="meta-data mat-caption">
        Autorin: <a class="post-author" href="#" target="_blank">{{post.author | authorName}}</a>
        veröffentlicht am: <a href="#">{{post.date | date: 'dd.MM.yyyy'}}</a>
      </p>
    </header>
  </section>

</app-headliner>

<div class="wrapper content-spacer">
  <button class="mat-flat-button mat-primary" routerLink="/posts"> zurück zu allen Beiträgen</button>
  <div class="vertical-spacer"></div>
  <div class="grid">
    <div class="cell xs12-up">
      <section *ngIf="post" class="post">
        <div class="post-description">
          <p [innerHTML]="post.content.rendered">
          </p>
        </div>
      </section>
    </div>
    <div class="vertical-spacer"></div>
    <button class="mat-flat-button mat-primary" routerLink="/posts"> zurück zu allen Beiträgen</button>
  </div>
</div>




