@use './src/utilities';
@use 'src/layout';

.content-spacer {
  margin-top: utilities.rem(8);
}

button {
  position: sticky;
  bottom: utilities.rem(4);
  right: 0;
  float: right;
}


.post-title {
  margin-bottom: utilities.rem(0);
}

.vertical-spacer {
  margin-top: utilities.rem(4);
  margin-bottom: utilities.rem(4);
}


